$break-small: 	640px;
$break-medium: 	840px;
$break-large: 	1024px;

$primary: 		#d98636;

$background: 	#f2f2f2;

$grey: 			#7b7b7b;
$grey-light: 	#aaa;
$grey-dark: 	#333;

$font-logo: 	'Caveat', sans-serif;
$font-body: 	'Droid Serif', serif;