.Form{

	&__input-container{
		padding: 5px 0
	}

	&__input,
	&__textarea{
		background: transparent;
		box-shadow: none;
		border: none;
		border-bottom: 2px solid $grey;
		height: 45px;
	}

	&__textarea{}
}