.Post{

	margin: 25px 0 75px;

	&__image{
		border-radius: 3px;

		&:hover{
			border-radius: 10px;
		}
	}

	&__title{
		font-family: inherit;
		font-size: 22px;
		line-height: 32px;
		margin: 25px 0 5px;
	}

	&__link{
		color: $grey;
	}
}