.Footer{
	padding: 50px 0;
	background: white;
	position: relative;
	clear: both;

	&:before{
		content:"";
		display: block;
		width: 321px;
		height: 37px;
		position: absolute;
		top: -37px;
		right: 20%;
		background-image: url('../../public/img/footer_detail.png');
	}

	&__link{
		color: $grey;
		float: left;
	}

	&__copyright{
		color: $grey;
		float: right;
	}
}