.Footer{

	padding: 50px 0;
	background: white;
	position: relative;
	clear: both;

	&:before{
		content:"";
		display: block;
		width: 321px;
		height: 37px;
		position: absolute;
		top: -37px;
		right: 321px;
		background-image: url('../../public/img/footer_detail.png');

		@media screen and (max-width: $break-small) {
			right: auto;
			left: 0;
		}
	}

	&--grey{
		background: $background;

		&:before{
			background-image: url('../../public/img/footer_detail_grey.png');
		}
	}

	&__link{
		color: $grey;
		float: left;
	}

	&__copyright{
		color: $grey;
		float: right;
	}
}